:root {
    --m-r1: 1em;
}

* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
}

main {
    flex-direction: column;
    display: flex;
   
}

body {
    position: relative;
     background-color: blue;
}


li-1 {
    margin: 0 10px;
    color: white;
}

li {
    display: inline-block;
    align-content: space-between;
    align-content: center;
}

.contact nav {
    margin-left: var(--m-r1);
    margin-right: var(--mr1);
    padding-left: var(--mr1);
    border-left: 10px solid black;
    font-size: large;
    align-content: space-between;
    padding: 20px;
    width: 70%;
}

section {
    display: flex;
    align-items: center;
    align-content: space-between;
    background-color: grey;
    margin-left: var(--m-r1);
    margin-top: var(--m-r1);  
    color: white;
}

section h1 {
    display: flex;
    margin-left: var(--m-r1);
    width: 10%;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: flex-start;
    border: none;
    color: white;
    font-size: 200%;
    border: 3px solid black;
    opacity: 0.6;
    transition: 0.3;
}

button:hover { 
    color: black;
    opacity: 1;
}

.main-header {
   height: 80px;
   width: 100%;
   padding: 36px;
   color: white;
   background-color: blue;
   display: flex;
   justify-content: space-between;
}

.aboutMe p {
    margin-left: var(--m-r1);
    margin-right: var(--mr1);
    padding-left: var(--mr1);
    width: 70%;
    border-left: 10px solid black;
    padding: 20px;
}

.work p {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: var(--m-r1);
    margin-right: var(--mr1);
    padding-left: var(--mr1);
    width: 70%;
    border-left: 10px solid black;
    padding: 20px;
}


.image-text {
    position: relative;
    color: white;
    font-size: x-large;
}

.bottom-right-text {
    position: absolute;
    bottom: 8px;
    right: 16px;
}


.container {
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;
  }



.text {
    grid-template-columns: 60px 60px;
    grid-template-rows: 90px 90px;
}

.box-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.box-2 { 
    gn: left;
    flex-basis: 100%;
    flex: 1;
    color: white;
    padding: 10px;
    border-radius: 25px;
}

.box-3 {
    padding-top: 36px;
    text-align: end;
    flex-basis: 100%;
    flex: 1;
}

